<form [formGroup]="salesHome" (ngSubmit)="onSubmit()" class="p-fluid">
    <div class="p-grid">
      <div class="p-col-12 p-md-6">
        <label for="canves">Canvas</label>
        <p-inputNumber inputId="canves" formControlName="canves" placeholder="Enter canvas value" [showButtons]="false"></p-inputNumber>
      </div>
      <div class="p-col-12 p-md-6">
        <label for="second">Second</label>
        <p-inputNumber inputId="second" formControlName="second" placeholder="Enter second value" [showButtons]="false"></p-inputNumber>
      </div>
      <div class="p-col-12 p-md-6">
        <label for="salse">Sales</label>
        <p-inputNumber inputId="salse" formControlName="salse" placeholder="Enter sales value" [showButtons]="false"></p-inputNumber>
      </div>
      <div class="p-col-12 p-md-6">
        <label for="follow">Follow</label>
        <p-inputNumber inputId="follow" formControlName="follow" placeholder="Enter follow-up value" [showButtons]="false"></p-inputNumber>
      </div>
      <div class="p-col-12 p-md-6">
        <label for="register">Register</label>
        <p-inputNumber inputId="register" formControlName="register" placeholder="Enter register value" [showButtons]="false"></p-inputNumber>
      </div>
      <div class="p-col-12 p-md-6">
        <label for="deposit">Deposit</label>
        <p-inputNumber inputId="deposit" formControlName="deposit" placeholder="Enter deposit value" [showButtons]="false"></p-inputNumber>
      </div>
    </div>
    <button type="submit" pButton label="send" [disabled]="!salesHome.valid" class="p-mt-2"></button>
  </form>
  